* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 25rem;
    margin: auto;
    border: 1px solid #ddd;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    
}

h2 {
    display: flex;
    justify-content: flex-start;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    color: #010101;
}

.subtext {
    margin: -1.25rem 0 0.9375rem 0;
    display: flex;
    justify-content: flex-start;
    color: #828282;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
}

form {
    display: flex;
    flex-direction: column;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9375rem;
}

label {
    margin-bottom: 0.3125rem;
    text-align: left;
    color: var(--Gray-900, #080808);
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.input-group {
    position: relative;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding-right: 2.5rem;
}

input::placeholder {
    color: var(--Gray-500, #282828);
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 275;
    line-height: 1.5rem;
}

.icon {
    position: absolute;
    top: 42%;
    right: 0.625rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #828282;
    font-size: 1.125rem;
}

button {
    width: 100%;
    background-color: #40C2FE;
    color: #fff;
    font-weight: 500;
    font-size: 1.0625rem;
    font-family: Poppins;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.7rem;
    border: none;
    border-radius: 0.4375rem;
    cursor: pointer;
}

.message {
    margin-top: 1.875rem;
    color: #333;
}

.updated_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.875rem;
}

.updated_password svg {
    width: 4.6875rem;
    height: 4.75rem;
    fill: #61FF2A;
    margin-bottom: 0.625rem;
}

.updated_password h2 {
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    color: #010101;
}

.updated_password .success-message {
    margin-top: -1.875rem;
    color: #828282;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
}

.updated_password button {
    background-color: #40C2FE;
    color: #fff;
    font-weight: 500;
    font-size: 1.0625rem;
    font-family: Poppins;
    line-height: normal;
    text-transform: capitalize;
    padding: 0.7rem;
    border: none;
    border-radius: 0.4375rem;
    cursor: pointer;
    margin-top: 1.25rem;
}
