* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.login-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.image-slider {
  width: 31.25rem; 
  height: 32.3125rem; 
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.login-container {
  background: #fff;
  padding: 4.78rem; 
  width: 100%;
  max-width: 31.25rem; 
  box-shadow: 0 1.5625rem 3.90625rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #6c757d;
  font-size: 0.875rem;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.15625rem;
  font-size: 0.875rem;
}

.form-footer {
  margin-top: 1.5rem;
}

.form-footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.875rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.15625rem;
  background-color: #007bff;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #0056b3;
}



/*---------------------------  all  Media Queries  ------------------------------------- */
@media (max-width: 767.98px) {
  .image-slider {
    display: none;
  }

  .image-slider{
    height: 33.3125rem;
  }
}

/* handWatch media query */
@media (max-width: 336px) {
  .login-container {
    padding: 1.5rem;
  }
  
  h2 {
    font-size: 1.125rem;
  }
  
  .form-group label {
    font-size: 0.8125rem;
  }
  
  .form-group input {
    padding: 0.625rem;
  }
  
  .login-button {
    padding: 0.625rem;
    font-size: 0.875rem;
  }
}